<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" href="./assets/css/layouts.css">
</head>
<body>
    <!-- inclued header -->
    <%- include('_header'); %>


   <%- body %>


<!-- include footer -->
<%- include('_footer'); %>
</body>
</html>